$cubano: 'Cubanoregular', sans-serif;
$brandonm: 'Brandon Grotesque Medium', sans-serif;
$brandonl: 'Brandon Grotesque Light', sans-serif;
$brandonb: 'Brandon Grotesque Bold', sans-serif;
$brandonr: 'Brandon Grotesque Regular', sans-serif;
$w: #fff;