@import "variables";
@import "reset";
@import "blocks/header";
@import "blocks/development";
@import "fonts";





.wrap {
	max-width: 1400px;
	min-width: 320px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	
}

